{
    // Database configuration
    db: {
        database: 'bookdb',
        username: 'root',
        password: '',
        dialect: 'mysql',
        host: 'localhost',
        port: 3306
    },
    app: {
        name: 'Book Showcase'
    }
}
